@CHARSET "UTF-8";
body{font: 12px/1.5 Tahoma,Helvetica,Arial,'宋体b8b\4f53',sans-serif;}
.fl{ float: left; }
.fr{ float: right; }
.clear { clear:both; }
.hide{display:none;};
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
margin: 0;
padding: 0;
}
ol, ul {
list-style: none;
}
a {
text-decoration: none;
}